@page {
    margin: 0 0;
    font-size: 1em;
    /*  size: 14.86cm 21cm landscape; */
}

body {
    background-image: url("assets/img/fondo-vertical.jpg");
    background-size: 100%;
    margin: 0px;
}

header {
    margin: 0.8cm 1cm 0cm 1cm;
    padding: 0 0 0cm 0;
}

footer {
    /* margin: 0cm 1cm; */
    text-align: center;
}

.table {
    font-size: 55%;
    padding: 0 0;
    text-align: center;
    margin: 0cm 1cm 0.5cm 1cm;
}

.page-break {
    page-break-after: always;
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 30px;
}


/* header {
    position: fixed;
    top: 0cm;
    right: 0cm;
    left: 0cm;
    height: 2cm;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 30px;
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 30px;
} */